html, body {
  height: 100%;
}

[hidden] {
  display: none!important;
}

template {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
}

#content {
  flex-grow: 1;
  flex-direction: column;
  overflow: auto;
}

#connection-footer {
  border-width: 0;
  height: 50px;
  min-height: 50px;
}

.project {
  display: flex;
}

.project > * {
  flex-shrink: 0;
}

.project-meta {
  flex-grow: 1;
  flex-shrink: 1;
}

.project-controls {
  flex-shrink: 0;
}
